.DS_Store
bin/*
/telescopes
/cloudinfo
conf/config.toml
*.swp
test.txt
test-results
/.licensei.cache
/vendor/
/build/

# IDE integration
/.idea/*
!/.idea/copyright/
!/.idea/*.iml
!/.idea/externalDependencies.xml
!/.idea/go.imports.xml
!/.idea/modules.xml
!/.idea/runConfigurations/
!/.idea/scopes/

/build/
