<header>
  <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
    <div class="navbar-nav">
      <a class="navbar-item" href="https://banzaicloud.com/">
        <img src="assets/logo.png" alt="Banzai Cloud" width="" height="30">
      </a>
    </div>
    <ul class="navbar-nav flex-row ml-md-auto pt-3">
      <li class="nav-item ml-2">
        <a class="github-button" href="https://github.com/banzaicloud/telescopes" data-show-count="true"
           aria-label="Star banzaicloud/telescopes on GitHub">Star</a>
      </li>
      <li class="nav-item ml-2">
        <a href="https://twitter.com/banzaicloud?ref_src=twsrc%5Etfw" class="twitter-follow-button"
           data-show-count="false">Follow @BanzaiCloud</a>
      </li>
    </ul>
  </nav>
  <section class="hero single-header">
    <div class="row hero-body"
         style="background-image:url(assets/logo_bg.jpg); height:120px; -webkit-background-size: cover; -webkit-box-align: stretch; -webkit-box-direction: normal; -webkit-box-orient: vertical; -webkit-box-pack: justify; -webkit-font-smoothing: antialiased;">
      <div class="col">
      </div>
      <div class="col-10 my-auto">
        <h1 class="title" style="color:white">
          Machine Type Comparison
        </h1>
      </div>
      <div class="col">
      </div>
    </div>
  </section>
</header>
<app-products></app-products>
<footer class="bg-light mt-5">
  <div class="row pt-3 pb-3">
    <div class="col-1">
    </div>
    <div class="col-10">
      We are building some tools - like <a href="http://github.com/banzaicloud/telescopes">Telescopes</a> - to help with
      cost management on different cloud providers.
      To do that, we needed to track machine type and price information programmatically.
      Using the Cloud Provider APIs to get this info is very cumbersome, so we've decided to build our own service and
      make it open source.
    </div>
    <div class="col-1">
    </div>
  </div>
</footer>
